In [1]:
#imitialization of the pyspark
import findspark
findspark.init()
import pyspark

from pyspark.sql import SparkSession

In [2]:
#data laodaing and creation

spak = (SparkSession.builder.appName("sparkmag").getOrCreate())

24/07/18 12:07:12 WARN Utils: Your hostname, hp resolves to a loopback address: 127.0.1.1; using 192.168.100.4 instead (on interface wlp2s0)
24/07/18 12:07:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/18 12:07:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
#the url path of teh data 

data ="/home/christine/Downloads/fakefriends.csv"

In [15]:
df =spak.read\
    .format("csv")\
    .option("inferschema",True)\
    .option("header",False)\
    . load(data)

In [16]:
df.show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    Hugh| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 60|246|
+---+--------+---+---+
only showing top 20 rows

In [17]:
df.describe().show()

+-------+-----------------+----+------------------+-----------------+
|summary|              _c0| _c1|               _c2|              _c3|
+-------+-----------------+----+------------------+-----------------+
|  count|              500| 500|               500|              500|
|   mean|            249.5|null|            43.708|          248.532|
| stddev|144.4818327679989|null|14.864340996711995|147.2217288680643|
|    min|                0| Ben|                18|                1|
|    max|              499|Worf|                69|              499|
+-------+-----------------+----+------------------+-----------------+

In [18]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: integer (nullable = true)
 |-- _c3: integer (nullable = true)

In [24]:
# df.isEmpty()

In [20]:
df.col

['_c0', '_c1', '_c2', '_c3']

In [21]:
df.count() 
#it give the total numnber of rows

500

In [22]:
df.head(6)

[Row(_c0=0, _c1='Will', _c2=33, _c3=385),
 Row(_c0=1, _c1='Jean-Luc', _c2=26, _c3=2),
 Row(_c0=2, _c1='Hugh', _c2=55, _c3=221),
 Row(_c0=3, _c1='Deanna', _c2=40, _c3=465),
 Row(_c0=4, _c1='Quark', _c2=68, _c3=21),
 Row(_c0=5, _c1='Weyoun', _c2=59, _c3=318)]

In [27]:
df.select

In [26]:
df.take(4)

[Row(_c0=0, _c1='Will', _c2=33, _c3=385),
 Row(_c0=1, _c1='Jean-Luc', _c2=26, _c3=2),
 Row(_c0=2, _c1='Hugh', _c2=55, _c3=221),
 Row(_c0=3, _c1='Deanna', _c2=40, _c3=465)]

In [31]:
#selecting specific columns
newdf =df.select('_c1','_c2')

In [32]:
newdf.show()

+--------+---+
|     _c1|_c2|
+--------+---+
|    Will| 33|
|Jean-Luc| 26|
|    Hugh| 55|
|  Deanna| 40|
|   Quark| 68|
|  Weyoun| 59|
|  Gowron| 37|
|    Will| 54|
|  Jadzia| 38|
|    Hugh| 27|
|     Odo| 53|
|     Ben| 57|
|   Keiko| 54|
|Jean-Luc| 56|
|    Hugh| 43|
|     Rom| 36|
|  Weyoun| 22|
|     Odo| 35|
|Jean-Luc| 45|
|  Geordi| 60|
+--------+---+
only showing top 20 rows

In [39]:
fist_2 = df.take(1)

fist_2

[Row(_c0=0, _c1='Will', _c2=33, _c3=385)]

In [40]:
df.first()

Row(_c0=0, _c1='Will', _c2=33, _c3=385)

In [43]:
#create tenmpo view

df.createOrReplaceTempView("people")

In [48]:
#execute the quetu 

result=  spak.sql ("SELECT * FROM people")
result.show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    Hugh| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 60|246|
+---+--------+---+---+
only showing top 20 rows

In [49]:
result.describe().show()

+-------+-----------------+----+------------------+-----------------+
|summary|              _c0| _c1|               _c2|              _c3|
+-------+-----------------+----+------------------+-----------------+
|  count|              500| 500|               500|              500|
|   mean|            249.5|null|            43.708|          248.532|
| stddev|144.4818327679989|null|14.864340996711995|147.2217288680643|
|    min|                0| Ben|                18|                1|
|    max|              499|Worf|                69|              499|
+-------+-----------------+----+------------------+-----------------+